<ul id="menu">
    <li><a href="/index.html">主页</a></li>
    <li>
        <a href="#">进展</a>
        <ul>
            <li><a href="/progress/gongkaixin.html">至全乡人民的公开信</a></li>
        </ul>
    </li>
	<li>
        <a href="#">资料</a>
        <ul>
            <li><a href="http://www.hnfgw.gov.cn/fzda/fzda/43998_5.html">1957•湖南国营农场</a></li>
        </ul>
    </li>
    <li><a href="/aboutUs.html">加入我们</a></li>
    <li><a href="/aboutUs.html">向那些敢于曝光自己、敢于追求事实、敢于表达大家诉求、……的人致敬！也请保重！量力而行！</a></li>
</ul>
