<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="/stylesheets/disqus.css" rel="stylesheet" type="text/css"/>
	<link href="/stylesheets/menu.css" rel="stylesheet" type="text/css"/>
	<style>
		div#footer {background-color:#99bbbb; clear:both; text-align:center;}
		p {text-indent: 2em;}
	</style>
</head>
<body>
{% include menu.html %}
{% include shareToOthers.html %}
{{content}}
{% include disqus.html %}
<div id="footer">团结就是力量！</div>
</body>
</html>
